* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 40px;
}

.max-score {}

.players-container {
    display: flex;
}

.player-1-container,
.player-2-container {
    display: flex;
    flex-direction: column;
}

.total-score {}

.current-score-container {
    display: flex;
    flex-direction: column;
}

.current-score {}

.dices-container {
    display: flex;
}

.dice {
    width: 100px;
    height: 100px;
}

.new-game-btn {}

.roll-dice-btn {}

.hold-btn {}

.dice-img1 {
    width: 10px;
    height: 10px;
    background-image: url('./images/Dice1.png');
}

.dice-img2 {
    width: 10px;
    height: 10px;
    background-image: url('./images/Dice2.png');
}

.dice-img3 {
    width: 10px;
    height: 10px;
    background-image: url('./images/Dice3.png');
}

.dice-img4 {
    width: 10px;
    height: 10px;
    background-image: url('./images/Dice4.png');
}

.dice-img5 {
    width: 10px;
    height: 10px;
    background-image: url('./images/Dice5.png');
}

.dice-img6 {
    width: 10px;
    height: 10px;
    background-image: url('./images/Dice6.png');
}