* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 40px;
}

.max-score {}

.players-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(187, 139, 233);
}

.total-score {}

.current-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-score {}

.dices-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: blueviolet;
}

.dice {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.new-game-btn {}

.roll-dice-btn {}

.hold-btn {}

.dice-img1 {
    background-image: url('./images/Dice1.png');
}

.dice-img2 {
    background-image: url('./images/Dice2.png');
}

.dice-img3 {
    background-image: url('./images/Dice3.png');
}

.dice-img4 {
    background-image: url('./images/Dice4.png');
}

.dice-img5 {
    background-image: url('./images/Dice5.png');
}

.dice-img6 {
    background-image: url('./images/Dice6.png');
}